@import url(reset.css);
/* sub.css */
/* common */
body{font-size:12px;font-family:Dotum,"ë‹ì›€",sans-serif;color:black;
    background: url(../images/bgbg.gif) repeat-x 0 70px;background-color: #e4e4e4;}

/* layout */
#wrap{width:980px;margin:0 auto;border:1px solid red;}
    #header{height:180px;}
    #container:after{content:"";display:block;clear:both;width:980px;}
        #snb
        #content
    #footer


/* header */
#header h1.logo{display:inline;float:left;width:700px;height:50px;}
#header h1.logo a img{display:inline;float:left;width:173px;height:50px;}
#header .topMenu{float:right;width:280px;}
#header .topMenu dd{display:inline-block;}
#header .mother{content:"";display:block;clear:both;width:980px;height:50px;}
#header .gnb > li{display:inline-block;width:150px;text-align: center;position: relative;top:28px;}
#header .gnb > li a{color:white;}
#header .dep2 > li{display:inline-block;position: relative;top:45px;left:30px;padding-right: 20px;}

/* container */
#container .snb{float:left;width:206px;}
#container .snb ul li{background:url(../images/icon4.gif) no-repeat 10px 50%;border-bottom: 1px solid silver;padding:5px 20px;}
#container #content{float:right; width:744px;}
#container #content .path{float:right;display:inline;}
#container #content .path strong{font-weight: bold;}
#container #content h2{margin:20px 0;}
#container #content .txt{background: url(../images/contents_bg.gif) no-repeat;padding-left:220px;height:300px;}
#container #content .txt p{margin-bottom:10px;line-height: 170%;}
#container #content .txt strong{font-weight: bold;}
#container #content .siteTable{width:100%;}
#container #content .siteTable th,#container #content .siteTable td{text-align: center;padding: 6px;}
#container #content .siteTable th{font-weight: bold;}
#container #content .siteTable thead{border-bottom: 1px solid black;border-top: 2px solid black;}
#container #content .siteTable tbody tr,#container #content .siteTable tfoot tr{border-bottom: 1px solid grey;}
#container #content h3{margin:20px 0;}
#container #content ol.apply > li{display:inline-block;margin-bottom: 104px;}

/* footer */
#footer{padding: 20px 0 10px 240px;background-color: white;}
#footer .etc{margin-bottom: 10px;}
#footer .etc > li{display:inline-block;}