@import url(reset.css);
/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

body{font-family: 'Roboto','Noto Sans KR',sans-serif;font-size: 20px;color: #000;}
a{color: #666;text-decoration: none;}

/* header */
#header > header > h1{z-index: 10; position: fixed;text-indent: -9999px;overflow: hidden;width: 100px;height: 31px;left:calc(50% - 50px); bottom:74px;background: url(../images/logo.png);}
#header > header > nav.gnb{z-index: 10; position:fixed;left: 49px;top:calc(50% - 185px);}
#header > header > nav.gnb ul{}
#header > header > nav.gnb ul li{font-weight: bold;margin-bottom: 58px;}

/* container */
#container{position: fixed;width: 1000vw;height: 100vh;background: #00f;font-size: 50px;color: #fff;}
#container > div{float: left;width: 100vw;height: 100vh;/* 100vw:viewport 넓이 100%, 100vh:viewport 높이 100% */
    background: rgba(255,0,0,0.4);}

#container > div >section{position: relative;}
#container > div >section > span{display: block;text-align: left;}