@import url(reset.css);
/* main.css */
body{font-family: "돋움",dotum,sans-serif;font-size: 12px;color:#000;}
a{color:#666;text-decoration: none;}

/* container */
#container{z-index: 30;position: relative;/*top:38px;*/}
#container > div{width: 100%;/*height: 740px;*/font-size: 100px;color: #fff;}
#container > div:nth-of-type(1){background: #ff0000;}
#container > div:nth-of-type(2){background: #00ff00;}
#container > div:nth-of-type(3){background: #0000ff;}
#container > div:nth-of-type(4){background: #ff6600;}

#container > div > section{position: relative;width: 100%;height: 100%;}
#container > div > section > span{display: block;text-align: left;}

/* content1 */
#content1 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content1 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content1 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.0s ease 0.5s;}
#content1 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}
#content1 > section > span:nth-of-type(4){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}
#content1 > section > span:nth-of-type(5){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}
#content1 > section > span:nth-of-type(6){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}

#content1 > section.on > h2{opacity:1;transform:translateX(0);}
#content1 > section.on > span:nth-of-type(1){opacity:1;transform:translateX(0);}
#content1 > section.on > span:nth-of-type(2){opacity:1;transform:translateX(0);}
#content1 > section.on > span:nth-of-type(3){opacity:1;transform:translateX(0);}
#content1 > section.on > span:nth-of-type(4){opacity:1;transform:translateX(0);}
#content1 > section.on > span:nth-of-type(5){opacity:1;transform:translateX(0);}
#content1 > section.on > span:nth-of-type(6){opacity:1;transform:translateX(0);}

/* content2 */
#content2 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content2 > section.on > h2{opacity:1;transform:translateX(0);}

/* content3 */
#content3 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content3 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content3 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.0s ease 0.5s;}
#content3 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}
#content3 > section > span:nth-of-type(4){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}
#content3 > section > span:nth-of-type(5){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}
#content3 > section > span:nth-of-type(6){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}
#content3 > section > span:nth-of-type(7){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 2.5s ease 0.5s;}

#content3 > section.on > h2{opacity:1;transform:translateX(0);}
#content3 > section.on > span:nth-of-type(1){opacity:1;transform:translateX(0);}
#content3 > section.on > span:nth-of-type(2){opacity:1;transform:translateX(0);}
#content3 > section.on > span:nth-of-type(3){opacity:1;transform:translateX(0);}
#content3 > section.on > span:nth-of-type(4){opacity:1;transform:translateX(0);}
#content3 > section.on > span:nth-of-type(5){opacity:1;transform:translateX(0);}
#content3 > section.on > span:nth-of-type(6){opacity:1;transform:translateX(0);}
#content3 > section.on > span:nth-of-type(7){opacity:1;transform:translateX(0);}

/* content4 */
#content4 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1s ease 0.5s;}
#content4 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}

#content4 > section.on > h2{opacity:1;transform:translateY(0);}
#content4 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}

/* content5 */
#content5 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1s ease 0.5s;}
#content5 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(4){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(5){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(6){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(7){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(8){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(9){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(10){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(11){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(12){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(13){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(14){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(15){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}
#content5 > section > span:nth-of-type(16){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateY(50px);transition: all 1.5s ease 0.5s;}

#content5 > section.on > h2{opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(2){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(3){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(4){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(5){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(6){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(7){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(8){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(9){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(10){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(11){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(12){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(13){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(14){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(15){opacity:1;transform:translateY(0);}
#content5 > section.on > span:nth-of-type(16){opacity:1;transform:translateY(0);}

/* content6 */
#content6 > section > h2{opacity:0;transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content6 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content6 > section.on > h2{opacity:1;transform:translateY(0);}
#content6 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}

/* content7 */
#content7 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content7 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content7 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content7 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content7 > section.on > h2{opacity:1;transform:translateY(0);}
#content7 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}
#content7 > section.on > span:nth-of-type(2){opacity:1;transform:translateY(0);}
#content7 > section.on > span:nth-of-type(3){opacity:1;transform:translateY(0);}

/* content8 */
#content8 > section > h2{opacity:0;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content8 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content8 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content8 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content8 > section.on > h2{opacity:1;transform:translateY(0);}
#content8 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}
#content8 > section.on > span:nth-of-type(2){opacity:1;transform:translateY(0);}
#content8 > section.on > span:nth-of-type(3){opacity:1;transform:translateY(0);}

/* content9 */
#content9 > section > h2{opacity:0;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content9 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content9 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content9 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content9 > section > span:nth-of-type(4){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content9 > section.on > h2{opacity:1;transform:translateY(0);}
#content9 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}
#content9 > section.on > span:nth-of-type(2){opacity:1;transform:translateY(0);}
#content9 > section.on > span:nth-of-type(3){opacity:1;transform:translateY(0);}
#content9 > section.on > span:nth-of-type(4){opacity:1;transform:translateY(0);}

/* content10 */
#content10 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}

#content10 > section.on > h2{opacity:1;transform:translateY(0);}

/* content11 */
#content11 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content11 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content11 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content11 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content11 > section.on > h2{opacity:1;transform:translateY(0);}
#content11 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}
#content11 > section.on > span:nth-of-type(2){opacity:1;transform:translateY(0);}
#content11 > section.on > span:nth-of-type(3){opacity:1;transform:translateY(0);}

/* content12 */
#content12 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content12 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content12 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content12 > section > span:nth-of-type(3){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content12 > section > span:nth-of-type(4){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content12 > section.on > h2{opacity:1;transform:translateY(0);}
#content12 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}
#content12 > section.on > span:nth-of-type(2){opacity:1;transform:translateY(0);}
#content12 > section.on > span:nth-of-type(3){opacity:1;transform:translateY(0);}
#content12 > section.on > span:nth-of-type(4){opacity:1;transform:translateY(0);}

/* content13 */
#content13 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}

#content13 > section.on > h2{opacity:1;transform:translateY(0);}

/* content14 */
#content14 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content14 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content14 > section.on > h2{opacity:1;transform:translateY(0);}
#content14 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}

/* content15 */
#content15 > section > h2{opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1s ease 0.5s;}
#content15 > section > span:nth-of-type(1){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}
#content15 > section > span:nth-of-type(2){opacity:0;position:absolute;left: 0px;top:0px;
	transform:translateX(-100%);transition: all 1.5s ease 0.5s;}

#content15 > section.on > h2{opacity:1;transform:translateY(0);}
#content15 > section.on > span:nth-of-type(1){opacity:1;transform:translateY(0);}
#content15 > section.on > span:nth-of-type(2){opacity:1;transform:translateY(0);}