/* sub_pasta.css */
/* common */
body{font-size:12px;font-family:Dotum,"돋움",sans-serif;color:#666;text-align:center;}

/* layout */
#wrap{width:980px;margin:0 auto;text-align:left;border:1px solid red;}
    #header{border-bottom:1px solid grey;}
    #container{width:980px;}
    #container:after{content:"";display:block;clear:both;}
        .snb{float:left;width:158px;}
        #content{float:right;width:815px;}
        #content:after{content:"";display:block;clear:both;}
    #footer{}
/* header */
/* container */
/* snb */
.snb h2{text-align: center;font-size:22px;padding-top: 20px;padding-bottom: 10px;font-weight: bolder;}
.snb li{line-height: 250%;font-weight: bold;border-top: 1px solid grey;}
/* content */
#content > h2{padding-top:20px;padding-bottom: 10px;border-bottom:1px solid grey;}
#content > h3{margin-bottom:20px;}
#content > p{line-height:140%;letter-spacing:0.3px;}
#content > p > img{float:left;}
#content > .list{float:left;width:338px;height:433px;background: url(../images/tue_list_bg.gif) no-repeat;padding-top: 12px;}
#content > .list > h4{text-align: center;font-size: 22px;font-weight: bolder;}
#content > .list > h4 > strong{color:orange;}
#content > .list > ol{text-indent: 50px;margin-top:26px;float:left;}
#content > .list > ol > li{padding-bottom: 19px;}
#content > .list > ol > li > a{padding-left: 130px;}
#content > .spaghetti{float:right;width:457px;height:445px;margin-top:0;padding-left: 20px;}
#content > dl > dt > img{float:left;margin-right:10px;}
#content > dl{width:815px;margin-top: 30px;}
#content > dl > dt >strong {font-weight: bolder;}
#content > dl > dd{line-height: 170%;}
#content > dl > dd > a{color:orange;font-weight: bolder;display: block;margin-top: 10px;}
#content > p{border-top:1px solid grey;margin-top:10px;padding-top:15px;padding-bottom: 10px;}
#content > p.last{background: url(../images/bu_arw1.gif) no-repeat 0 60%;padding-left:15px;}
/* footer */