@import url(reset.css);
/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

/* common */
body{font-size: 14px;font-family: 'Nunito Sans',Helvetica,sans-serif;color:#333;}
li{list-style: none;}
a{text-decoration: none;color: #333;}
a:hover{text-decoration: none;color: #333;}

/* layout */